
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        About the playbook
      </h1>
      <p>
        This playbook is for people within the Future Farming and Countryside Programme (FFCP) at the Department for Environment, Food and Rural Affairs (Defra).
      </p>

      <p>
        The playbook explains how we work within the Future Farming and Countryside Programme. You can find information about our:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>users</li>
        <li>ways of working</li>
        <li>teams and how they’re set up</li>
      </ul>

      <p>You can find cross-government guidance in the <a href="#">Government Digital Service (GDS) Service Manual</a> and the <a href="#">GDS service standard</a>.</p>

      <p>The playbook does not include all information relating to the programme. For example, it’s not where you’ll find product-specific documentation or communications announcements.</p>

      <p>You can:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>give us your <a href="#">feedback</a> to help improve the playbook</li>
        <li>view our roadmap to see what we’re working on over the next few months.</li>
      </ul>

      <h2 class="govuk-heading-m">Playbook proposition</h2>

      <p>Our proposition is to help people decide if any, all or part of their content should be in the playbook. It’s for:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>people who work in the programme</li>
        <li>people who are about to join the programme</li>
        <li>external partners and ALBs</li>
        <li>people interested in what the programme is doing and how it works</li>
      </ul>

      <p>What should go in the playbook:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>how we work in the programme</li>
        <li>our culture and values</li>
        <li>content that can be shared in public</li>
        <li>content that can be understood by anyone - whether they work in the programme or are completely new to it - they do not need prior expert knowledge</li>
      </ul>

      <p>What does not go in the playbook:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>content designed for internal use only</li>
        <li>internal documents (for example, governance documents)</li>
        <li>short-term or temporary changes/ways of working in the programme</li>
        <li>announcements, meeting dates or news</li>
        <li>content that is better served elsewhere (duplicate content), such as the service hub</li>
      </ul>

    </div>
  </div>

{% endblock %}
