
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        How our teams work
      </h1>
      <p class="govuk-body">
        We use an agile and iterative delivery approach to develop our products. This means we can:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>release our products in small stages rather than all at once</li>
        <li>reduce risk by focussing on the biggest areas of uncertainty</li>
        <li>gradually learn more about the problems we need to solve and how to solve them</li>
        <li>test our assumptions and quickly get feedback from our users</li>
        <li>adapt to changing user and policy needs, making sure we can always meet these needs</li>
        <li>adapt to changing technologies</li>
        <li>change our products</li>
      </ul>

      <p class="govuk-body">
        This way of working also means the leadership team can assess progress towards our outcomes.
      </p>

      <p class="govuk-body">
        You can read more about agile methods in government in the service manual.
      </p>

<!--Using a phased-delivery-->
      <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
        <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                Using a phased-delivery approach
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">

            <p class="govuk-body">
              There are 7 phases in our product lifecycle:
            </p>

            <ul class="govuk-list govuk-list--bullet">
              <li>pre-discovery</li>
              <li>discovery</li>
              <li>alpha</li>
              <li>private beta</li>
              <li>public beta</li>
              <li>live</li>
              <li>retirement</li>
            </ul>

            <p class="govuk-body">
              Each phase has its own governance and approvals process. You’ll need to meet requirements at the end of each phase before you can move onto the next.
            </p>

            <p class="govuk-body">
              Your product might not continue through each phase. For example, during discovery if you find that your product does not meet your users’ needs, you’ll go back to pre-discovery to explore different problems.
            </p>

            <h3 class="govuk-heading-m">Pre-discovery</h3>

            <p class="govuk-body">
              During this phase you’ll explore the problems your product will address. You’ll need to think about:
            </p>

            <ul class="govuk-list govuk-list--bullet">
              <li>what outcomes you’re trying to achieve with the product</li>
              <li>why government is best-placed to achieve those outcomes</li>
              <li>who the users of the product will be and what their needs are</li>
              <li>what policy interventions might be needed - interventions include things like offering grants or introducing new regulations</li>
            </ul>

            <p class="govuk-body govuk-!-font-weight-bold">
              How to move to the next phase
            </p>

            <p class="govuk-body">
              At the end of this phase you’ll have a <a href="#">project initiation document (PID)</a> - you’ll need this to get approval to move onto discovery. You also need to request a slot at the D3B and complete an <a href="#">Equality Impact Assessment (EQIA) screening form</a>. The PID and EQIA screening form should be living documents that you update at the end of each phase.
            </p>

            <h3 class="govuk-heading-m">Discovery</h3>

            <p class="govuk-body">
              During this phase you’ll gather evidence and research to explore a specific problem that you identified in pre-discovery.
            </p>

            <p class="govuk-body">
              <a href="#">Read about how the discovery phase works and how you know discovery is finished</a>.
              </p>

              <p class="govuk-body govuk-!-font-weight-bold">
                How long it lasts
              </p>

              <p class="govuk-body">
                Discovery usually lasts between 4 and 8 weeks, but could take up to 12 weeks. You need to plan enough time for the report, D3B meeting, internal assessment and walkthrough before starting your alpha.
                </p>

                <p class="govuk-body govuk-!-font-weight-bold">
                  How to move to the next phase
                </p>

                <p class="govuk-body">
                  To move on from discovery to alpha, you need to:
                  </p>

                  <ul class="govuk-list govuk-list--bullet">
                    <li>complete a discovery report and if you plan to progress to alpha, an alpha phase request</li>
                    <li>arrange a walkthrough of your discovery findings and alpha proposal with the service owner, programme delivery manager, FFCP programme manager and head of strategic design</li>
                    <li>book an internal assessment with the service team if it’s a condition of your Cabinet Office spend approval</li>
                    <li>book an internal assessment with the service team if you’re rebuilding or working on a new transactional service</li>
                    <li><a href="#">check if you need to meet the service standard or get an assessment</a></li>
                    <li>request a slot and attend D3B</li>
                    <li>complete an <a href="#">Equality Impact Assessment (EQIA)</a></li>
                  </ul>

                  <p class="govuk-body">
                    There’s no set time period for a discovery, but it usually lasts around 4 to 8 weeks. You need to plan enough time for the report, D3B meeting, internal assessment and walkthrough before starting your alpha.
                    </p>


        <h3 class="govuk-heading-m">Alpha</h3>

        <p class="govuk-body">
          During this phase you’ll prototype solutions based on your research from discovery. You’ll:
        </p>

        <ul class="govuk-list govuk-list--bullet">
          <li>explore possible solutions</li>
          <li>investigate assumptions, such as how users will find out about your product or how many people will use it</li>
          <li>test your riskiest assumptions with users</li>
        </ul>

        <p class="govuk-body">
        <a href="#">Read about how the alpha phase works</a>.
        </p>

        <p class="govuk-body govuk-!-font-weight-bold">
          How long it lasts
        </p>

        <p class="govuk-body">
          Alpha usually lasts between 6 and 12 weeks.
        </p>

        <p class="govuk-body govuk-!-font-weight-bold">
          What you’ll learn
        </p>

        <p class="govuk-body">
          At the end of this phase you’ll have developed a prototype which will:
        </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>help you to understand whether your digital product is the best way to meet the user need</li>
          <li>reduce uncertainty about possible solutions and technology choices</li>
        </ul>

        <p class="govuk-body">
          This will help you to decide whether to move to beta or not.
        </p>

        <p class="govuk-body govuk-!-font-weight-bold">
          How to move to the next phase
        </p>

        <p class="govuk-body">
          To move on from alpha to private beta, you need to pass the alpha service standard.
          Alphas tend to last between 6 and 8 weeks, which means you should book your alpha service standard assessment 2 weeks after starting your alpha.
        </p>

        <h3 class="govuk-heading-m">Private beta</h3>

        <p class="govuk-body">
          During this phase you’ll start to build the product.
        </p>

        <p class="govuk-body">
          You should start with a small group of users and gradually add features as you learn more about what those users need from the product. The product will essentially be live at this point, so you might need dedicated people to support it. You can then add more users, if the product and team can support them.
          </p>

        <p class="govuk-body">
        <a href="#">Read about how the beta phase works</a>.
        </p>

        <p class="govuk-body govuk-!-font-weight-bold">
          How long it lasts
        </p>

        <p class="govuk-body">
          Private beta usually takes at least 3 months, but it will depend on how big or complex your product is.
        </p>


        <p class="govuk-body govuk-!-font-weight-bold">
          How to move to the next phase
        </p>

        <p class="govuk-body">
          To move on from private beta to public beta, you need to pass the beta service standard and complete an <a href="#">Equality Impact Assessment (EQIA)</a>. You should book your beta service standard assessment 6 weeks before you want to be assessed.
        </p>


        <h3 class="govuk-heading-m">Public beta</h3>

        <p class="govuk-body">
          During this phase you’ll continue to grow the capability and scale of the product until it’s available to all users. You can still gradually roll it out to users in stages as you develop more features and iterate based on user feedback.
        </p>

        <p class="govuk-body">
        <a href="#">Read about how the beta phase works</a>.
        </p>

        <p class="govuk-body govuk-!-font-weight-bold">
          How to move to the next phase
        </p>

        <p class="govuk-body">
          To move on from public beta to live, you need to pass the live service standard. You should book your live service standard assessment 6 weeks before you want to be assessed.
        </p>

        <h3 class="govuk-heading-m">Live</h3>

        <p class="govuk-body">
          When your product is live you'll have built most of your product, but you might still need to add functionality.
        </p>

        <p class="govuk-body">
          You’ll need to continually iterate your products to meet changing policy and user needs. You'll usually need to do further discovery or alpha work if you need to add significant new capabilities to your product.
        </p>

        <p class="govuk-body">
        <a href="#">Read about how the live phase works</a>.
        </p>

        <h3 class="govuk-heading-m">Retiring a product</h3>

        <p class="govuk-body">
          You may need to retire your product at some point. For example, if users no longer need it, the policy changes or a new product replaces it.
        </p>

        <p class="govuk-body">
        <a href="#">Read about retiring a service</a>.
        </p>

          </div>
        </div>

<!--Changes to your delivery-->
        <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                Changes to your delivery
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
            <p class='govuk-body'>You need to <a href="#">submit a change request</a> if there are delays to your project or product delivery. This is so we can understand what has changed and how it will impact our objectives, delivery timelines, quality and costs.</p>
          </div>

        </div>
        <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                Service Standard Assessments
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">

            <p class='govuk-body'>
              All UK government services must meet the <a href="#">Service Standard</a>, to help deliver better outcomes for government and users. This says that teams must use an agile, user-centred approach to delivering and running services, including internal services.
            </p>

            <p class="govuk-body">
              To make sure that product teams are meeting the Standard, they must  pass an assessment after each discovery, alpha, private beta and public beta phase. You should contact the service assessments team to arrange your assessment.
              </p>

              <p class="govuk-body">
                Some service assessments are run by <a href="#">Central Digital and Data Office</a>, some by Defra. The service assessments team will tell you who will assess your work. 
                </p>
          </div>
        </div>


          </div>
        </div>
      </div>


{% endblock %}
