
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Future Farming and Countryside Programme playbook
      </h1>

    </div>
  </div>


  <div class="govuk-main-wrapper">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third">
              <h2 class="gem-c-heading govuk-heading-s govuk-!-margin-bottom-1"><a class="govuk-link" href="/playbook/about-playbook">About the playbook</a></h2>
              <p class="govuk-body-s">Find out who and what this playbook is for.</p>
            </div>

            <div class="govuk-grid-column-one-third">
              <h2 class="gem-c-heading govuk-heading-s govuk-!-margin-bottom-1"><a class="govuk-link" href="/playbook/about-programme">About the programme</a></h2>

              <p class="govuk-body-s">Learn about FFCP and our principles.</p>
            </div>
            <div class="govuk-grid-column-one-third">
              <h2 class="gem-c-heading govuk-heading-s govuk-!-margin-bottom-1"><a class="govuk-link" href="/playbook/who-we-work-with">Who we work with</a></h2>

              <p class="govuk-body-s">Our users, stakeholders and experts.</p>
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third">
              <h2 class="gem-c-heading govuk-heading-s govuk-!-margin-bottom-1"><a class="govuk-link" href="/playbook/products-services">Our products and services</a></h2>
              <p class="govuk-body-s">What makes the things we deliver on FFCP.</p>
              </div>

            <div class="govuk-grid-column-one-third">
              <h2 class="gem-c-heading govuk-heading-s govuk-!-margin-bottom-1"><a class="govuk-link" href="/playbook/how-teams-work">How our teams work</a></h2>
              <p class="govuk-body-s">Learn about Agile delivery and service assessments.</p>
            </div>

            <div class="govuk-grid-column-one-third">
              <h2 class="gem-c-heading govuk-heading-s govuk-!-margin-bottom-1"><a class="govuk-link" href="/playbook/meetings">Meetings</a></h2>
              <p class="govuk-body-s">Check who and what the playbook is for, our roadmap and give feedback.</p>
            </div>

        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third">
              <h2 class="gem-c-heading govuk-heading-s govuk-!-margin-bottom-1"><a class="govuk-link" href="/playbook/teams-roles">Our teams and roles</a></h2>
              <p class="govuk-body-s">Understand user needs: plan research, prepare for sessions, share and analyse findings. </p>
            </div>

            <div class="govuk-grid-column-one-third">
              <h2 class="gem-c-heading govuk-heading-s govuk-!-margin-bottom-1"><a class="govuk-link" href="/playbook/research-data">Research and data</a></h2>
              <p class="govuk-body-s">Check who and what the playbook is for, our roadmap and give feedback.</p>
            </div>
        </div>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
          <div class="panel govuk-!-padding-top-3 govuk-!-margin-top-5">
            <h2 class="gem-c-heading govuk-heading-m">The Service Standard</h2>

            <p class="govuk-body app-body">The <a class="govuk-link" href="/service-manual/service-standard">Service Standard</a> provides the principles of building a good service. This manual explains what teams can do to build great services that will meet the standard.</p>
          </div>
        </div>

        <div class="govuk-grid-column-one-half">
          <div class="panel govuk-!-padding-top-3 govuk-!-margin-top-5">
            <h2 class="gem-c-heading govuk-heading-m">Communities of practice</h2>

            <p class="govuk-body app-body">You can view the <a class="govuk-link" href="/service-manual/communities">communities of practice</a> to find more learning resources, see who has written the guidance in the manual and connect with digital people like you from across government.</p>
          </div>
        </div>
      </div>
    </div>



{% endblock %}
